                                                             LEVEL 2 -[ TASK 1]

In [1]:
#Importing Liabraries
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Fetching CSV file

df = pd.read_csv("Dataset.csv")
df.head(3)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270

In [3]:
table_booking_percent = (df['Has Table booking'].value_counts(normalize=True) * 100)
table_booking_percent

Has Table booking
No     87.875615
Yes    12.124385
Name: proportion, dtype: float64

In [4]:
online_delivery_percent = (df['Has Online delivery'].value_counts(normalize=True) * 100)
online_delivery_percent

Has Online delivery
No     74.337766
Yes    25.662234
Name: proportion, dtype: float64

In [5]:
df.groupby('Has Table booking')['Aggregate rating'].mean()

Has Table booking
No     2.559359
Yes    3.441969
Name: Aggregate rating, dtype: float64

In [6]:
pd.crosstab(df['Price range'], df['Has Online delivery'])

Has Online delivery    No   Yes
Price range
1                    3743   701
2                    1827  1286
3                     997   411
4                     533    53

In [7]:
pd.crosstab(df['Price range'], df['Has Online delivery'], normalize='index') * 100

Has Online delivery         No        Yes
Price range
1                    84.225923  15.774077
2                    58.689367  41.310633
3                    70.809659  29.190341
4                    90.955631   9.044369

                                                             LEVEL 2 -[ TASK 2]

In [8]:
df['Price range'].value_counts()

Price range
1    4444
2    3113
3    1408
4     586
Name: count, dtype: int64

In [9]:
df['Price range'].value_counts().idxmax()

np.int64(1)

In [10]:
df.groupby('Price range')['Aggregate rating'].mean()

Price range
1    1.999887
2    2.941054
3    3.683381
4    3.817918
Name: Aggregate rating, dtype: float64

In [11]:
avg_ratings = df.groupby('Price range')['Aggregate rating'].mean()
best_price_range = avg_ratings.idxmax()
best_price_range

np.int64(4)

In [12]:
df[df['Price range'] == best_price_range]['Rating color'].mode()[0]

'Yellow'

                                                             LEVEL 2 -[ TASK 3]

In [13]:
df['Name_Length'] = df['Restaurant Name'].str.len()

In [14]:
df['Address_Length'] = df['Address'].str.len()

In [15]:
df['Has_Table_Booking_Flag'] = df['Has Table booking'].map({'Yes': 1, 'No': 0})

In [16]:
df['Has_Online_Delivery_Flag'] = df['Has Online delivery'].map({'Yes': 1, 'No': 0})

In [17]:
df[['Restaurant Name','Name_Length','Address_Length',
    'Has_Table_Booking_Flag','Has_Online_Delivery_Flag']].head()

,Restaurant Name,Name_Length,Address_Length,Has_Table_Booking_Flag,Has_Online_Delivery_Flag
0,Le Petit Souffle,16,71,1,0
1,Izakaya Kikufuji,16,67,1,0
2,Heat - Edsa Shangri-La,22,56,1,0
3,Ooma,4,70,0,0
4,Sambo Kojin,11,64,1,0